# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ChatGPTImageOrchestrator.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/src/ChatGPTImageOrchestrator.Infrastructure/obj/ChatGPTImageOrchestrator.Infrastructure.csproj.nuget.g.props
/src/ChatGPTImageOrchestrator.Web/obj/Debug/net8.0/ChatGPTImageOrchestrator.Web.GeneratedMSBuildEditorConfig.editorconfig
/src/ChatGPTImageOrchestrator.Domain/obj/project.packagespec.json
/src/ChatGPTImageOrchestrator.Application/obj/ChatGPTImageOrchestrator.Application.csproj.nuget.dgspec.json
/src/ChatGPTImageOrchestrator.Web/obj/rider.project.restore.info
/MakeMeVideo.Api/obj/Debug/net8.0/MakeMeVideo.Api.AssemblyInfo.cs
/src/ChatGPTImageOrchestrator.Web/obj/Debug/net8.0/ChatGPTImageOrchestrator.Web.AssemblyInfo.cs
/src/ChatGPTImageOrchestrator.Application/obj/project.packagespec.json
/src/ChatGPTImageOrchestrator.Domain/obj/ChatGPTImageOrchestrator.Domain.csproj.nuget.dgspec.json
/.idea/.idea.MakeMeVideo/.idea/workspace.xml
/src/ChatGPTImageOrchestrator.Domain/obj/Debug/net8.0/ChatGPTImageOrchestrator.Domain.AssemblyInfo.cs
/src/ChatGPTImageOrchestrator.Domain/obj/Debug/net8.0/ChatGPTImageOrchestrator.Domain.assets.cache
/src/ChatGPTImageOrchestrator.Infrastructure/obj/rider.project.restore.info
/.idea/.idea.MakeMeVideo/.idea/indexLayout.xml
/src/ChatGPTImageOrchestrator.Domain/obj/project.nuget.cache
/MakeMeVideo.Api/obj/Debug/net8.0/MakeMeVideo.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/ChatGPTImageOrchestrator.Domain/obj/rider.project.restore.info
/src/ChatGPTImageOrchestrator.Web/obj/project.packagespec.json
/src/ChatGPTImageOrchestrator.Domain/obj/Debug/net8.0/ChatGPTImageOrchestrator.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/ChatGPTImageOrchestrator.Infrastructure/obj/project.assets.json
/src/ChatGPTImageOrchestrator.Web/obj/Debug/net8.0/ChatGPTImageOrchestrator.Web.assets.cache
/src/ChatGPTImageOrchestrator.Web/obj/ChatGPTImageOrchestrator.Web.csproj.nuget.g.targets
/src/ChatGPTImageOrchestrator.Infrastructure/obj/Debug/net8.0/ChatGPTImageOrchestrator.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/ChatGPTImageOrchestrator.Infrastructure/obj/Debug/net8.0/ChatGPTImageOrchestrator.Infrastructure.assets.cache
/src/ChatGPTImageOrchestrator.Web/obj/project.assets.json
/MakeMeVideo.Api/obj/project.packagespec.json
/src/ChatGPTImageOrchestrator.Application/obj/project.nuget.cache
/MakeMeVideo.Api/obj/Debug/net8.0/MakeMeVideo.Api.AssemblyInfoInputs.cache
/src/ChatGPTImageOrchestrator.Web/obj/project.nuget.cache
/MakeMeVideo.Api/obj/Debug/net8.0/MakeMeVideo.Api.GlobalUsings.g.cs
/src/ChatGPTImageOrchestrator.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/ChatGPTImageOrchestrator.Infrastructure/obj/Debug/net8.0/ChatGPTImageOrchestrator.Infrastructure.csproj.AssemblyReference.cache
/src/ChatGPTImageOrchestrator.Application/obj/project.assets.json
/.idea/.idea.MakeMeVideo/.idea/projectSettingsUpdater.xml
/src/ChatGPTImageOrchestrator.Infrastructure/obj/Debug/net8.0/ChatGPTImageOrchestrator.Infrastructure.AssemblyInfoInputs.cache
/src/ChatGPTImageOrchestrator.Infrastructure/obj/ChatGPTImageOrchestrator.Infrastructure.csproj.nuget.dgspec.json
/src/ChatGPTImageOrchestrator.Web/obj/ChatGPTImageOrchestrator.Web.csproj.nuget.g.props
/src/ChatGPTImageOrchestrator.Web/obj/Debug/net8.0/ChatGPTImageOrchestrator.Web.csproj.AssemblyReference.cache
/src/ChatGPTImageOrchestrator.Application/obj/ChatGPTImageOrchestrator.Application.csproj.nuget.g.targets
/src/ChatGPTImageOrchestrator.Domain/obj/ChatGPTImageOrchestrator.Domain.csproj.nuget.g.props
/src/ChatGPTImageOrchestrator.Application/obj/Debug/net8.0/ChatGPTImageOrchestrator.Application.assets.cache
/src/ChatGPTImageOrchestrator.Infrastructure/obj/project.packagespec.json
/src/ChatGPTImageOrchestrator.Web/obj/ChatGPTImageOrchestrator.Web.csproj.nuget.dgspec.json
/src/ChatGPTImageOrchestrator.Application/obj/Debug/net8.0/ChatGPTImageOrchestrator.Application.GeneratedMSBuildEditorConfig.editorconfig
/src/ChatGPTImageOrchestrator.Infrastructure/obj/ChatGPTImageOrchestrator.Infrastructure.csproj.nuget.g.targets
/src/ChatGPTImageOrchestrator.Web/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/ChatGPTImageOrchestrator.Application/obj/rider.project.restore.info
/.idea/.idea.MakeMeVideo/.idea/git_toolbox_blame.xml
/MakeMeVideo.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.idea/.idea.MakeMeVideo/.idea/vcs.xml
/src/ChatGPTImageOrchestrator.Application/obj/ChatGPTImageOrchestrator.Application.csproj.nuget.g.props
/.idea/.idea.MakeMeVideo/.idea/encodings.xml
/src/ChatGPTImageOrchestrator.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/ChatGPTImageOrchestrator.Application/obj/Debug/net8.0/ChatGPTImageOrchestrator.Application.AssemblyInfo.cs
/.idea/.idea.ChatGPTImageOrchestrator/.idea/encodings.xml
/src/ChatGPTImageOrchestrator.Infrastructure/obj/project.nuget.cache
/src/ChatGPTImageOrchestrator.Domain/obj/ChatGPTImageOrchestrator.Domain.csproj.nuget.g.targets
/src/ChatGPTImageOrchestrator.Application/obj/Debug/net8.0/ChatGPTImageOrchestrator.Application.AssemblyInfoInputs.cache
/src/ChatGPTImageOrchestrator.Domain/obj/Debug/net8.0/ChatGPTImageOrchestrator.Domain.AssemblyInfoInputs.cache
/src/ChatGPTImageOrchestrator.Domain/obj/project.assets.json
/src/ChatGPTImageOrchestrator.Infrastructure/obj/Debug/net8.0/ChatGPTImageOrchestrator.Infrastructure.AssemblyInfo.cs
/src/ChatGPTImageOrchestrator.Web/obj/Debug/net8.0/ChatGPTImageOrchestrator.Web.AssemblyInfoInputs.cache
/src/ChatGPTImageOrchestrator.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
